@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: fixed;
}

body {
  background-color: transparent;
  color: #fff;
  position: fixed;
  font-family: "Figtree", sans-serif;
  overscroll-behavior-y: contain;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;

  h1 {
    font-size: 80px;
    text-align: center;
    line-height: 1;
    font-weight: 900;
    mix-blend-mode: difference;
  }

  p {
    margin: 20px 0 0 0;
    color: #666;
  }
}

canvas {
  vertical-align: bottom;
}
